.drop-wrapper {
  position: relative;

  .drop-menu {
    overflow: hidden;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid rgba(0, 0, 0, 0.15);
    z-index: 1000;
    .drop-item {
      display: block;
      padding: 10px;
      line-height: 20px;
      font-size: 15px;
      color: #333;
      border-top: 1px solid #f5f5f5;
      outline: #f5f5f5;
    }
  }
  .drop-toggle {
    background: none;
    border: none;
    color: #333;
    cursor: pointer;

    .filter-option-inner-inner {
      display: inline-flex;
      align-items: center;
      font-size: 20px;
      line-height: 24px;
      .picker-img {
        width: 44px;
        height: 30px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
        display: inline-block;
        margin-right: 4px;
        border: 1px solid #eaeaea;
        box-sizing: border-box;
      }
    }
  }
}
